*,*::before,
*::after{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgb(219, 239, 239);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.parent-container{
    /* border: black solid; */
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: .2rem 2rem 2rem 2rem;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 15rem auto;
}

.qr-code-image{
    width: 100%;
    /* border: black solid; */
    padding: .2rem 0.5rem;
    margin: 1rem 0;
}
.img{
    width: 100%;
    border-radius: 1.5rem;
    place-items: center;
}

.heading{
    /* border: black solid; */
    width: 100%;
    padding: .5rem 0;
    display: flex;
    text-align: center;
}
.description{
    /* border: black solid; */
    padding: .5rem 0;
    display: flex;
    text-align: center;
}

h3{
    color: rgb(10, 34, 10);
    font-weight: 750;
    font-size: 1.5rem;
     /* border: black solid; */
    width: 100%;
    margin: 0 auto;
}

p{
    color: rgb(142, 140, 140);
    font-weight: 600;
    padding: .5rem 0;
    /* border: black solid; */
    width: 100%;
    margin: 0 auto;
}